.App {
  grid-area: compareDates;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;

  min-height: 100vh;
  height: auto;
  
  padding-top: 56px;

  background-color: #88a8fc;
  background-image: linear-gradient(360deg, #fff 0%, #88a8fc 90%);
}

.error-bar {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  min-width: 558px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}

.heading {
  background: white;
  padding: 32px;
  display: flex;
}

.heading span {
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 0 16px;
}

input {
  min-height: 42px;
  border: 1px solid #ccc;
  padding: 0 16px;
}

input:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

input:nth-child(3) {
  border-right: none;
  border-left: none;
}

button {
  background: #ddd;
  border: none;
  padding: 0 16px;
  cursor: pointer;
}

.covid-list {
  padding: 32px;
  background-color: white;
  max-width: 1114px;
  margin-top: 32px;
  display: flex;
}

.covid-item h3 {
  text-align: center;
}

.covid-item + .covid-item {
  margin-left: 32px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  background-color: white;
}

th,
td {
  padding: 15px;
  text-align: center;
}
/* body select.select_box */
body select {
  display: block;
  padding: 10px 70px 10px 16px !important;
  max-width: 100%;
  min-height: 43px;
  border: 1px solid #ccc;
  background: url('https://i.ibb.co/b7xjLrB/selectbox-arrow.png') right center
    no-repeat;
  background-color: white;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  appearance: none;
  /* this is must */
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* body select.select_box option */
body select option {
  padding: 0 5px;
}
/* for IE and Edge */
select::-ms-expand {
  display: none;
}
select:disabled::-ms-expand {
  background: #f60;
}

.wave{
  background-attachment: center;
  background-repeat: no-repeat;
}
