.App {
  
}

.error-bar {
  
}

.heading {
  
}

.heading span {
  
}

input {
}

input:nth-child(1) {
}

input:nth-child(3) {
}

button {
  
}

.covid-list {
  
}

.covid-item h3 {
}

.covid-item + .covid-item {
}

table {
}

table,
th,
td {
  
}

th,
td {
  
}
/* body select.select_box */
body select {
  display: block;
  padding: 10px 70px 10px 16px !important;
  max-width: 100%;
  min-height: 43px;
  border: 1px solid #ccc;
  background: url('https://i.ibb.co/b7xjLrB/selectbox-arrow.png') right center
    no-repeat;
  background-color: white;
  color: #444444;
  font-size: 12px;
  line-height: 16px !important;
  appearance: none;
  /* this is must */
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* body select.select_box option */
body select option {
  padding: 0 5px;
}
/* for IE and Edge */
select::-ms-expand {
  display: none;
}
select:disabled::-ms-expand {
  background: #f60;
}
